@charset "UTF-8";
/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

/* ===============================================
# カラー変数設定
=============================================== */
/* ===============================================
# フォント変数設定
=============================================== */
/* ===============================================
# Mixin 
=============================================== */
/* --- ⬇️ 以下、Helper Class のスタイル --- */
/* (Mixinを正しく使用して、表示/非表示を切り替えています) */
.pc-only {
  display: none;
}
@media (min-width: 768px) {
  .pc-only {
    display: block;
  }
}

.pc {
  display: block;
}
@media (max-width: 767px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media (max-width: 767px) {
  .sp {
    display: block;
  }
}

html {
  font-size: 62.5%;
}
@media (min-width: 768px) {
  html {
    font-size: 1.0869565217vw;
  }
}
@media (min-width: 920px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 2.6666666667vw;
  }
}

body {
  font-family: "Yu Gothic Medium", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", system-ui, sans-serif;
  font-size: 1.8rem;
  line-height: 1.833;
  margin: 0;
  padding-top: 0;
}

section[id] {
  scroll-margin-top: 8rem;
}
@media (max-width: 767px) {
  section[id] {
    scroll-margin-top: 5rem;
  }
}

/* ===============================================
# vw関数
=============================================== */
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #F5F5F5;
}
@media (max-width: 767px) {
  .l-header {
    z-index: 1000;
  }
}

.l-inner {
  max-width: 92rem;
  margin: 0 auto;
  padding-inline: 2rem;
}
@media (max-width: 767px) {
  .l-inner {
    max-width: 100%;
    padding-inline: 2rem;
  }
}

/* ===============================================
# ホームへ戻るbutton
=============================================== */
.c-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  background-color: #CB0000;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.32;
  color: #fff;
  border: none;
  cursor: pointer;
  border: 1px solid #CB0000;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  max-width: 25rem;
  height: 5rem;
  padding: 1rem 5rem 0.7rem 5.1rem;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .c-button {
    font-size: 2rem;
    width: 33.5rem;
  }
}

.p-footer {
  background: #CB0000;
  color: #E8E8E8;
  padding-block: 4.4rem 5.1rem;
  text-align: center;
  width: 100%;
  min-height: auto;
}
@media (max-width: 767px) {
  .p-footer {
    padding-block: 4.4rem 5.3rem;
  }
}

.p-footer__inner {
  max-width: 108rem;
  margin: 0 auto;
  padding-inline: 4.0740740741vw 4.6296296296vw;
}

.p-footer__nav {
  margin-top: 0;
}
@media (max-width: 767px) {
  .p-footer__nav {
    margin-top: 0;
  }
}

.p-footer__nav-list {
  font-size: 1.5740740741vw;
  font-weight: 700;
  line-height: 1.941;
  color: #E8E8E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3.3rem;
  list-style: none;
  margin: 0;
}
@media (max-width: 767px) {
  .p-footer__nav-list {
    font-size: 1.7rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 3.1rem;
       -moz-column-gap: 3.1rem;
            column-gap: 3.1rem;
    row-gap: 1rem;
    padding: 0;
    list-style: none;
  }
}

.p-footer__nav-list a {
  color: #E8E8E8;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.p-footer__nav-list a:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 767px) {
  .p-footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1.6rem;
  }
}

.p-footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.21rem;
  margin-top: 0.339rem;
}
@media (max-width: 767px) {
  .p-footer__sns {
    margin-top: 1.6rem;
    gap: 0.983rem;
  }
}

.p-footer__sns a {
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.p-footer__sns a:hover {
  opacity: 0.7;
  cursor: pointer;
}

.p-footer__sns a img {
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.p-footer__sns a:hover img {
  opacity: 0.7;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.p-footer__copyright {
  background: #CB0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.3rem;
  width: 100%;
}
@media (max-width: 767px) {
  .p-footer__copyright {
    display: block;
    margin-top: 2.9rem;
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .u-center-block {
    display: block;
    text-align: center;
    white-space: nowrap;
  }
}

.p-footer__copyright p {
  color: #fff;
  font-size: 1.3888888889vw;
  line-height: 1.65;
  text-align: center;
}
@media (max-width: 767px) and (max-width: 767px) {
  .p-footer__copyright p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25;
    text-align: left;
  }
}

.p-header {
  text-align: center;
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  height: 8rem;
}
@media (max-width: 767px) {
  .p-header {
    height: 5rem;
    background-color: #fff;
  }
}

.p-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 108rem;
  margin: 0 auto;
  padding-inline: 10rem;
}
@media (max-width: 767px) {
  .p-header__inner {
    padding-inline: 2rem;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media (max-width: 767px) {
  .logo {
    height: auto;
  }
}

.logo__img img {
  display: block;
  width: 3.2rem;
  height: auto;
}
@media (max-width: 767px) {
  .logo__img img {
    width: 3.2rem;
    height: 2.1rem;
  }
}

.p-header__logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767px) {
  .p-header__logo-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo__main {
  font-size: 1.8518518519vw;
  font-weight: 700;
  line-height: 1;
  text-align: left;
}
@media (max-width: 767px) {
  .logo__main {
    font-size: 1.3rem;
    white-space: nowrap;
  }
}

.logo__sub {
  font-size: 1.1111111111vw;
  margin-top: 0.3703703704vw;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 767px) {
  .logo__sub {
    font-size: 1.3rem;
    margin-top: 0;
  }
}

.p-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.3rem;
     -moz-column-gap: 3.3rem;
          column-gap: 3.3rem;
  height: 100%;
  list-style: none;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .p-header__nav-list {
    -webkit-column-gap: 2.1rem;
       -moz-column-gap: 2.1rem;
            column-gap: 2.1rem;
  }
}
@media (max-width: 767px) {
  .p-header__nav-list {
    margin-left: 0;
    display: none;
  }
}

.p-header__nav-list li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-header__nav-list li a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5740740741vw;
  line-height: 1.833;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .p-header__nav-list li a {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  .p-header__nav-list li a {
    font-size: 1.6rem;
  }
}
.p-header__nav-list li a::after {
  content: "";
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  width: 100%;
  height: 0.1rem;
}
.p-header__nav-list li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.p-header__nav-sp {
  display: none;
}
@media (max-width: 767px) {
  .p-header__nav-sp {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
    top: 5rem;
    right: -100%;
    width: 80%;
    max-width: 30rem;
    -webkit-transition: right 0.6s ease;
    transition: right 0.6s ease;
    z-index: 1000;
  }
  .p-header__nav-sp.is-open {
    right: 0;
  }
}

.p-header__nav-sp-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-header__nav-sp-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 1.5rem 20.8rem 1rem 2rem;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  background-color: #CB0000;
}
.p-header__nav-sp-list a:hover {
  background-color: #000;
  color: #fff;
}

.c-hamburger {
  display: none;
}
@media (max-width: 767px) {
  .c-hamburger {
    position: fixed;
    top: 0;
    right: 0;
    width: 7.1rem;
    height: 5rem;
    background: #CB0000;
    z-index: 1001;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
}

.c-hamburger__line,
.c-hamburger__line::before,
.c-hamburger__line::after {
  position: absolute;
  width: 3.3rem;
  height: 0.4rem;
  left: 2rem;
  background: #fff;
  border-radius: 0.2rem;
  -webkit-transition: opacity 0.35s ease, background-color 0.35s ease, -webkit-transform 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: opacity 0.35s ease, background-color 0.35s ease, -webkit-transform 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.45s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.35s ease, background-color 0.35s ease;
  transition: transform 0.45s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.35s ease, background-color 0.35s ease, -webkit-transform 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.c-hamburger__line {
  top: 49%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-hamburger__line::before,
.c-hamburger__line::after {
  content: "";
  left: 0;
}

.c-hamburger__line::before {
  top: 49%;
  -webkit-transform: translateY(calc(-50% - 1.2rem));
          transform: translateY(calc(-50% - 1.2rem));
}

.c-hamburger__line::after {
  top: 49%;
  -webkit-transform: translateY(calc(-50% + 1.2rem));
          transform: translateY(calc(-50% + 1.2rem));
}

.c-hamburger.is-open .c-hamburger__line {
  background: transparent;
}
.c-hamburger.is-open .c-hamburger__line::before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.c-hamburger.is-open .c-hamburger__line::after {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.p-page-btn {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-block: 4rem 9rem;
}
@media (max-width: 767px) {
  .p-page-btn {
    margin-block: 0.9rem 5rem;
  }
}

.p-404__keyvisual {
  position: relative;
  height: 20rem;
  margin-top: 8rem;
}
@media (max-width: 767px) {
  .p-404__keyvisual {
    margin-top: 5rem;
  }
}

.p-404__keyvisual img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.p-404__keyvisual-text {
  position: absolute;
  top: 7.4rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
  font-size: 2.3148148148vw;
  color: #fff;
}
@media (max-width: 767px) {
  .p-404__keyvisual-text {
    font-size: 2.5rem;
  }
}

.p-404__text {
  text-align: center;
}
@media (max-width: 767px) {
  .p-404__text {
    font-size: 1.6rem;
    text-align: left;
    margin-top: 4.7rem;
  }
}

/* foundation *//*# sourceMappingURL=style.css.map */