/* ===============================================
# カラー変数設定
=============================================== */
$main-color: #CB0000;
$section-bg-color: #F5F5F5; 
$text-color: #000;
$c-base: #F5F5F5;
// $c-main: #CB0000;
$c-accent: #E8E8E8;
// $c-primary: #***;
// $c-secondary: #***;
$font-color: #fff;
// $placeholder-color: #A0A0A0;

/* ===============================================
# フォント変数設定
=============================================== */

$font-sans: "Yu Gothic Medium", "Yu Gothic", "YuGothic",
            "Hiragino Kaku Gothic ProN", "Hiragino Sans",
            "Meiryo", system-ui, sans-serif;
$font-weight: 500;      
$base-font-size: 1.8rem; 





