@use "../foundation/mixin" as *;
@use "../foundation/color" as *;


.l-header {
	width: 100%;
	height: 8rem;
	position: fixed;
	top: 0;
	z-index: 999;
	text-align: center;
	transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

	@include sp {
		height: 5rem;
		z-index: 1000;
		background-color: $font-color;
	}
}

.l-header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	max-width: 108rem;
	margin: 0 auto;
	padding-inline: 8rem;

	@media screen and (max-width: 1024px) {
		padding-inline: 2rem;
	}
}

.l-header__logo {
	display: flex;
	align-items: center;
	height: 100%;
}

.l-header__nav-list {
	display: flex;
	column-gap: 3.1rem;
	height: 100%;
	list-style: none;
	margin: 0;
	align-items: center;
	

	@include tab {
		column-gap: 2.1rem;
	}

	@include sp {
		margin-left: 0;
	}
}


.l-header__site-title {
font-size: 2rem;
}

.header__img {

}

.l-header__logo-link {

}

.c-hamburger {

}

.c-hamburger__line {

}

.l-header__nav {

}

.header__nav-list {

}

.header__nav-item--contact {

}

.c-button {

}

.c-button--head {

}

.l-main {

}

.p-404 {

}

.p-404__keyvisual {

}

.p-404__keyvisual-text {

}

.inner {

}

.p-404__text {

}

.button-back {

}

.l-footer {

}

.footer {

}

.l-footer__inner {

}

.l-footer__nav {

}

.l-footer__nav-list {

}

.l-footer__content {

}

.l-footer__logo {

}

.footer-logo__link {

}

.fl-ooter__copyright {

}

.l-footer__sns {

}

