@use "../global/variable" as *;
@use "../global/mixin" as *;
@use "../global/function" as *;
@use "../foundation/base" as *;


.l-inner {
  max-width: 92rem;
  margin: 0 auto;
  // padding-inline: 2rem;
  padding-inline: calc(20 / 1080 * 100%);
  //  padding-top: 6.5rem;

  @include sp {
		max-width: 100%;
		padding-inline: 2rem;
    // padding-top: 4.7rem;
	}
}

