@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
// @use "../../foundation/base" as *;

// .p-404__keyvisual {
//    @extend .c-hero;
//    height: 20rem;
//    margin-top: 8rem;

//   @include sp {
//    margin-top: 5rem;
//  }
//  }

// .p-404__keyvisual-text {
//   @extend .c-hero__text;
// }


//  .p-404__text {
//    // margin-block: 6.8rem 5rem;
//   text-align: center;
//    margin-top: 6.8rem;

//   @include sp {
//     font-size: 1.6rem;
//     text-align: left;
//    margin-top: 4.7rem;
//  }
//  }