@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../component/c-hero";
// @use "../../foundation/base" as *;

// p-404
.p-404 .p-page-btn {
margin-top: 3.4rem;
text-align: center;

  @include sp {
    margin-top: 0.9rem;
  }
}

// 404
.p-404__content {
  padding-block: 4.7rem 5rem;

  @include sp {}
}


.p-404 {
  .c-page-message {
    @include sp {
      text-align: unset;
    }
  }
}

