@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../component/c-hero";
// @use "../../foundation/base" as *;


 /* --- _p-blog-list.scss --- */
.p-blog-list {
  margin-top: 5.7rem; 

  @include sp {
      margin-top: 3.7rem;
  }

  .c-blog-card + .c-blog-card {
      margin-top: 3rem;

      @include sp {
          margin-top: 3.8rem;
      }
  }
}
  

.p-blog-list__content {
    // padding-block: 6.8rem 6.5rem;
    padding-block: 6.7rem 21rem;


    @include sp {
        // display: flex;
        align-items: center;
        padding-block: 5rem 20.3rem;

    }
}