@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../component/c-hero";
// @use "../../foundation/base" as *;

.p-blog-details__content {   
  // padding-block: 6.8rem 6.5rem;
  padding-block: vw(70) vw(157);

  @include sp {
      // display: flex;
      align-items: center;
      padding-block: 5rem 20.3rem;
  }
}   

.p-blog_details__wrapper {
display: flex;
justify-content: space-between;
align-items: flex-start;
}

.p-blog_details__main {
justify-content: space-between;
gap: 3.1rem;
}


.p-article-title {

}

.c-result-card__date {

}

.p-blog-detail__sns {
display: flex;
gap: 0.3rem

}

.p-blog-detail__text {
margin-top: 4.8rem;
}

.p-blog-detail__section {

}

.p-blog-detail__heading {
font-size: 2rem;
font-weight: 700;
}

.p-blog-detail__image {

}

.p-blog-detail__list {

}

.p-blog-detail__subtitle {
font-size: 2rem;
font-weight: 700;
}

.p-blog-detail__quote {

}

.p-blog-detail__textlink {

}

.p-blog_details__sidebar {
  display: flex;
}

.p-blog_details__sidebar {

}

.p-sidebar-box {
  background-color: #000;
  border: 1px solid #fff;
  font-size: 1.8rem;
  height: 2.5rem;
}

.p-sidebar-title {

}

.p-sidebar-banner {

}

.p-sidebar-search {

}

.p-sidebar-category {

}



.p-article-nav {

}

.p-article-nav__item {

}

.p-article-nav__item--prev {

}

.p-article-nav__link {

}

.p-article-nav__label {

}

.p-article-nav__label--prev {

}

.p-article-nav__content {

}

.p-article-nav__img {

}

.p-article-nav__text {

}

.p-article-nav__item--next {

}

.p-article-nav__label--next {

}

.p-article-related {

}

.p-article-related__title {

}

.c-result-card {

}

.c-result-card__link {

}

.c-result-card__text {

}


 