@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../component/c-hero";
// @use "../../foundation/base" as *;

.p-blog_details__content {
  // padding-block: 6.8rem 6.5rem;
  padding-block: vw(70) vw(157);

  @include sp {
    // display: flex;
    align-items: center;
    padding-block: 5rem 13.7rem;
  }
}

// ===============================================
// ブログ詳細ページ専用：l-inner を flex 化
// ===============================================
// .p-blog_details .l-inner {
//   @include sp {
//     display: flex;
//     flex-direction: column;
//     gap: 4rem;
//   }
// }


.p-blog_details__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include sp {
    flex-direction: column;
    // display: contents;
    // order: 1;
  }
}


.p-blog_details__main {
  justify-content: space-between;
  gap: 3.1rem;

  @include sp {
    // order: 1;
  }
}

.p-blog_details__main .c-result-card__img {
  width: 60rem;
  height: 35rem;
  object-fit: cover;

  @include tab {
    width: 100%;
    height: auto;
  }

  @include sp {
    width: 33.5rem;
    height: 20rem;
  }
}

.p-blog_details .c-result-card__date {
  text-align: left;

  @include sp {
    font-size: 1.7rem;
    // text-align: right;
  }
}


.p-article-title {}

.p-blog-detail__sns {
  display: flex;
  gap: 0.3rem;
  margin-top: 2.1rem;

  @include sp {
    gap: 0.2rem;
  }
}



.p-blog-detail__text--lead {
  margin-top: 4.8rem;
  font-size: 1.8rem;

  @include tab {
    margin-top: 3rem;
    max-width: none; 
  }

  @include sp {
    max-width: 33.5rem;
    width: 100%;
    font-size: 1.6rem;
    margin-top: 2.7rem;
  }
}

.p-blog-detail__text--under-h2 {
  margin-top: 1.5rem;

  @include sp {
    width: 33.5rem;
    max-width: 100%;
    font-size: 1.6rem;
  }
}


.p-blog-detail__section {}

.p-blog-detail__heading {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 3.3rem;

  @include sp {
    max-width: 33.5rem;
    width: 100%;
  }
}

.p-blog-detail__image {
  margin-top: 1.7rem;
}

.p-blog-detail__image img {
  width: 33.45rem;
  height: 22.3rem;
  object-fit: cover;

  @include sp {
    height: auto;
  }
}

.p-blog-detail__list {
  margin-top: 2.8rem;
  padding-bottom: 4.05rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  @include sp {
    font-size: 1.6rem;
  }
}

.p-blog-detail__subtitle {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 4.35rem;

  @include sp {
    width: 32.5rem;

  }
}

.p-blog-detail__quote {
  display: flex;
  background-color: #E8E8E8;
  margin-top: 1.7rem;
  padding-inline: 3rem;
  padding-block: 1.8rem 1rem;
  line-height: 1.666;

  @include sp {
    font-size: 1.6rem;
    width: 33.5rem;
    padding-inline: 2.6rem 2rem;
    line-height: 1.875;
  }
}

.p-blog-detail__quote .logo__img {
  flex-shrink: 0;
}

.p-blog-detail__textlink {
  display: inline-block;
  font-size: 2rem;
  color: $main-color;
  font-weight: 700;
  border-bottom: 1px solid #CB0000;
  margin-top: 3.7rem;
}

.c-article-related {
  @include sp {
    order: 3;
  }
}

// 右サイトバー

.p-blog_details__sidebar-area {
  margin-top: 3.1rem;
}

.p-blog_details__sidebar {
  display: flex;
  flex-direction: column;
  // height: 5rem;
  width: 25rem;
  gap: 3rem;
  margin-left: 3.1rem;

  @include sp {
    width: 33.5rem;
    // height: 2.68rem;
    order: 4;
    margin-left: 0;
  }
}

.p-sidebar-box:nth-of-type(3) {
  margin-bottom: -3rem;
}


.p-sidebar-box {
  background-color: #000;
  border: 1px solid #fff;
  font-size: 1.8rem;
  align-items: center;
  //  margin-top: 3rem;
  //  height: 20rem;

  @include sp {
  
  }
}


.p-sidebar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.833;
  color: $font-color;
  height: 5rem;

}


// .p-sidebar-recommend {
//   margin-top: 1.6rem;
// }

.p-sidebar-banner {
  background-color: #fff;
  border: 0.5px solid #000;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  // padding: 1.5rem;

  @include sp {
    height: 26.8rem;
  }
}

.p-sidebar-banner__inner {
  display: flex;
  // flex: 1;
  background-color: #e8e8e8;
  width: 22rem;
  height: 17rem;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.5rem;

  @include sp {
    width: 29.5rem;
    height: 22.8rem;
  }
}


.p-sidebar-search {
  background-color: #F5F5F5;
  border: 0.5px solid #000;
  width: 25rem;
  // height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.5rem;
  width: 100%;
  height: auto;
  gap: 0;
}


.p-sidebar-search__input {
  width: 22rem;
  height: 4rem;
  border: none;
  background-color: #E8E8E8;
  padding: 1rem;

  @include sp {
    width: 29.5rem;
    height: 5.4rem;
  }


  &::placeholder {
    color: transparent;
  }
}

.p-sidebar-search__inner {
  background-color: #e8e8e8;
  width: 18rem;
  height: 4rem;
  // padding: 0 1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  @include sp {
    width: 24.1rem;
    height: 5.4rem;
  }
}


.p-sidebar-search__button {
  width: 4rem;
  height: 4rem;
  background-color: #000;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  @include sp {
    width: 5.4rem;
    height: 5.4rem;
  }
}

.p-sidebar-search__button img {
  width: 2rem;
  height: auto;
  display: block;
  margin-top: 0.8rem;

  @include sp {
    // width: 2.6rem;
    // height: 3.2rem;
  }
}

.p-sidebar-list {
  margin-top: 1.2rem;
}

.p-sidebar-recommend {
  display: block;
}

.p-sidebar-recommend__item {
  margin-top: 1.5rem;

  &:first-child {
    margin-top: 0;
  }
}

.p-sidebar-recommend__link {
  display: flex;
  gap: 1.5rem;
  text-decoration: none;
  color: #000;
}

.p-sidebar-recommend__img {
  width: 9.5rem;
  height: 7.5rem;
  background-color: #e8e8e8;
  flex-shrink: 0;

  @include sp {
    width: 16rem;
    height: 11rem;
  }
}

.p-sidebar-recommend__text {
  font-size: 1.7rem;
  line-height: 1.5;
  color: #000;
}

.p-sidebar-group--tight {
  // margin-top: 1.5rem; 
}

.p-sidebar-category {
  font-size: 1.7rem;
  // margin-top: 1.2rem;

  li {
    padding-block: 0.7rem;
    border-bottom: 0.5px solid #000;
    height: 4.7rem;
  }

  li:first-child {
    border-top: none;

  }
}

// .p-blog_details .p-article-nav {
//   gap: 7.9rem; 
// }


/* ===============================================
# blog詳細ページ用：記事ナビ
=============================================== */

.p-blog_details .c-article-nav {
  display: flex;
  gap: 7.8rem;
  justify-content: flex-start;

  @include sp {
    gap: 2.2rem;
    order: 2;
  }
}


.p-blog_details .c-article-nav__label--prev {
  font-weight: 500;
  width: 26rem;

  @include sp {
    width: 15.6rem;
  }
}

.p-blog_details .c-article-nav__label--next {
  font-weight: 500;
  width: 26rem;

  @include sp {
    width: 15.6rem;
  }
}


.p-blog_details .c-article-nav__content {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;

  @include sp {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
  }
}

.p-blog_details .c-article-nav__item {
  width: auto;
  flex-shrink: 0;
}

.p-blog_details .c-article-nav__text {
  white-space: normal;
  line-height: 1.56;
  width: 6.8rem;

  @include sp {}
}

.p-blog_details .c-article-nav__img {

  @include sp {
    display: none;
  }
}


/* ===============================================
# blog詳細ページ用：関連記事
=============================================== */

.p-blog_details .c-article-related__title {
  width: 60rem;

  @include sp {
    width: 33.5rem;
    text-align: center;
    justify-content: center;
  }
}

.p-blog_details .c-result-card__link {
  gap: 2rem;

  @include sp {
    display: flex;
    // justify-content: space-between;
    align-items: flex-start;

  }
}

.p-blog_details .c-result-card__body {
  @include sp {
    // width: 100%;
    // max-width: 33.5rem;
    flex: 1;          
    max-width: none; 
  }
}

.p-blog_details .c-result-card__text {
  width: 35.9rem;
  font-weight: 700;

  @include sp {
    width: 100%;
    font-size: 1.7rem;
  line-height: 1.674;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    overflow: hidden;
    // margin-top: 0;
  }

}

/* ブログ詳細ページ：関連記事カードの画像サイズ */
.p-blog_details .c-article-related .c-result-card__img {
  width: 20rem;
  height: 14rem;

  @include sp {
    width: 16rem;
    height: 11rem;
    flex-shrink: 0;
  }
}

.p-blog_details .c-article-related .c-result-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// ===============================================
// ページ専用：パンくずの高さ調整（SP）
// ===============================================
.p-blog_details .c-breadcrumb {
  @include sp {
    min-height: 5.9rem;
    // height: 5.9rem;
  }
}