@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../component/c-hero";
// @use "../../foundation/base" as *;

.p-blog_details__content {
  // padding-block: 6.8rem 6.5rem;
  padding-block: 7rem 18.2rem;

  @include sp {
    // display: flex;
    align-items: center;
    padding-block: 5rem 19.7rem;
  }
}

.p-blog_details__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.1rem;

  // @include md {
  //   flex-direction: column;
  //   gap: 0;
  // }

  @include sp {
    flex-direction: column;
    gap: 0;
    // display: contents;
    // order: 1;
  }
}


.p-blog_details__main {
  justify-content: space-between;
  width: auto;

  @include pc {
    flex: 1;
    min-width: 0;
  }

  @include sp {
    // order: 1;
    width: 100%;
  }
}

.p-blog_details__main .c-result-card__img {
  width: 100%;
  height: 100%;
  aspect-ratio: 600 / 350;
  object-fit: cover;

  @include sp {
    height: auto;
    aspect-ratio: 335 / 200;
  }
}

.p-blog_details .c-result-card__date {
  text-align: left;
  margin-top: 0.7rem;
  line-height: 1.764;

  @include sp {
    font-size: 1.7rem;
    margin-top: 0;

  }
}

.p-blog_details .p-article-title {
  margin-top: 4.6rem;
  font-size: 2.5rem;
  line-height: 1.6;
  font-weight: 700;
  letter-spacing: 0.02em;

  @include sp {
    margin-top: 3rem;
    font-size: 2rem;
    align-items: center;
    // text-align: center;
  }
}

.p-blog-detail__sns {
  display: flex;
  gap: 0.3rem;
  margin-top: 1.7rem;

  @include sp {
    gap: 0.2rem;
    margin-top: 2.3rem;
  }
}


.p-blog-detail__text--lead {
  margin-top: 3.8rem;
  font-size: 1.8rem;
  line-height: 1.666;

  @include tab {
    margin-top: 3rem;
  }

  @include sp {
    width: 100%;
    font-size: 1.6rem;
    margin-top: 2rem;
    line-height: 1.8;
  }
}


.p-blog-detail__text--under-h2 {
  margin-top: 1.5rem;
  width: 100%;
  line-height: 1.666;

  @include sp {
    width: 100%;
    font-size: 1.6rem;
    margin-top: 1.2rem;
    line-height: 1.8;
  }
}


.p-blog-detail__heading {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 3.5rem;
  width: 100%;
  height: auto;

  @include sp {
    margin-top: 3.7rem;
  }
}

.p-blog-detail__image {
  margin-top: 1.8rem;
  width: 100%;
  max-width: 33.5rem;
  aspect-ratio: 335 / 200;

  @include sp {
    margin-top: 4.2rem;
    max-width: none;
  }
}

.p-blog-detail__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include sp {}
}

.p-blog-detail__list {
  margin-top: 2rem;
  padding-bottom: 4rem;
  line-height: 1.666;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  @include sp {
    font-size: 1.6rem;
    padding-bottom: 4.9rem;
  }
}

.p-blog-detail__subtitle {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 4.35rem;
  width: 100%;
  padding-left: 1rem;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1.7em;
    width: 3px;
    height: 20px;
    background-color: #000;
    margin-top: 4.2rem;
  }

  @include sp {
    &::before {
      height: 50px;
      top: -3.8rem
    }
  }
}

.p-blog-detail__quote {
  display: flex;
  background-color: #E8E8E8;
  margin-top: 2rem;
  padding-inline: 3rem;
  padding-block: 1.8rem 1rem;
  line-height: 1.666;
  width: 100%;
  gap: 1rem;

  @include sp {
    font-size: 1.6rem;
    line-height: 1.87;
    padding-inline: 2.6rem;
    padding-top: 2rem;
    margin-top: 1.1rem;
    gap: 1.75rem;
    align-items: flex-start;
  }
}

.quote-icon {
  flex-shrink: 0;
  line-height: 1.666;
}

.quote-icon img {
  @include sp {

    width: 100%;
    height: auto;
  }
}

.p-blog-detail__textlink {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: $main-color;
  font-weight: 700;
  line-height: 1;
  margin-top: 3.5rem;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #CB0000;
  }

  @include sp {
    margin-top: 3rem;

    &::after {
      bottom: -0.3rem;
    }
  }
}


// 右サイトバー
.p-blog_details__sidebar-area {
   max-width: 25rem;
  width: 100%;
  flex-shrink: 1;

  @include sp {
    margin-top: 3.1rem;
    max-width: none;
  }
}

.p-blog_details__sidebar {
  display: flex;
  flex-direction: column;
  // height: 5rem;
  width: 25rem;
  gap: 2.7rem;

  @include md {
    width: 100%;
  }

  @include sp {
    width: 100%;
    order: 4;
  }
}

.p-sidebar-box:nth-of-type(3) {
  margin-bottom: -3rem;
}


.p-sidebar-box {
  background-color: #000;
  // border: 1px solid #fff;
  font-size: 1.8rem;
  align-items: center;
  //  margin-top: 3rem;
  //  height: 20rem;

  @include sp {}
}


.p-sidebar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.833;
  color: $font-color;
  height: 5rem;
  margin-top: 0.1rem;

}

.p-sidebar-banner {
  background-color: #fff;
  border: 0.5px solid #000;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.5rem;

  @include sp {
    height: 26.8rem;
  }
}

.p-sidebar-banner__inner {
  display: flex;
  // flex: 1;
  background-color: #e8e8e8;
  width: 22rem;
  height: 17rem;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.5rem;

  @include sp {
    width: 29.5rem;
    height: 22.8rem;
  }
}


.p-sidebar-search {
  background-color: #F5F5F5;
  border: 0.5px solid #000;
  // width: 25rem;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  padding-block: 1.5rem;
  width: 100%;
  height: auto;
  gap: 0;

  @include sp {
    padding-block: 1.9rem;
  }
}


.p-sidebar-search__input {
  // width: 22rem;
  height: 4rem;
  border: none;
  background-color: #E8E8E8;
  // padding: 1rem;

  @include sp {
    width: 29.5rem;
    height: 5.4rem;
  }


  &::placeholder {
    color: transparent;
  }
}

.p-sidebar-search__inner {
  background-color: #e8e8e8;
  // width: 18rem;
  height: 4rem;
  // padding: 0 1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  @include sp {
    width: 24.1rem;
    height: 5.4rem;
  }
}


.p-sidebar-search__button {
  width: 4rem;
  height: 4rem;
  background-color: #000;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.4s;

  &:hover {
    background-color: #333;

  }

  @include sp {
    width: 5.4rem;
    height: 5.4rem;
  }
}

.p-sidebar-search__button img {
  // width: 2rem;
  height: auto;
  display: block;
  padding-top: 1rem;

  @include sp {

    height: 100%;
  }
}

.p-sidebar-list {
  // margin-top: 2.1rem;

  @include sp {
    margin-top: 0;
  }
}

.p-sidebar-recommend {
  display: block;
}

.p-sidebar-recommend__item {
  margin-top: 1.9rem;

  &:nth-of-type(2) {
    margin-top: 1.5rem;

    @include sp {
      margin-top: 1.8rem;
    }
  }

  @include sp {
    margin-top: 2.5rem;
  }
}

.p-sidebar-recommend__link {
  display: flex;
  gap: 1.5rem;
  text-decoration: none;
  color: #000;
}

.p-sidebar-recommend__img {
  width: 9.5rem;
  height: 7.5rem;
  background-color: #e8e8e8;
  flex-shrink: 0;

  @include sp {
    width: 16rem;
    height: 11rem;
  }
}

.p-sidebar-recommend__text {
  font-size: 1.7rem;
  line-height: 1.5;
  color: #000;

  @include sp {
    padding-top: 1rem;
    padding-left: 0.7rem;
    line-height: 1.647;
  }
}

.p-sidebar-group--tight {
  // margin-top: 1.5rem; 
}

.p-sidebar-category {
  font-size: 1.7rem;
  // margin-top: 1.2rem;

  @include sp {
    padding-block: 0rem;
  }

  li {
    padding-block: 1rem;
    border-bottom: 0.5px solid #000;
    height: 4.7rem;
  }

  li:first-child {
    border-top: none;

  }
}

/* ===============================================
# blog詳細ページ用：記事ナビ
=============================================== */

.p-blog_details .c-article-nav {
  display: flex;
  gap: 7.8rem;
  justify-content: flex-start;
  margin-top: 5.1rem;

  @include md {}

  @include sp {
    gap: 2.2rem;
    order: 2;
    margin-top: 4.5rem;
  }
}


.p-blog_details .c-article-nav__label--prev {
  font-size: 1.7rem;
  font-weight: 500;
  width: 26rem;

  @include tab {}

  // @include sp {
  //   width: 15.6rem;
  // }
}


.p-blog_details .c-article-nav__label--next {
  font-size: 1.7rem;
  font-weight: 500;
  width: 26rem;

  // @include sp {
  //   width: 15.6rem;
  // }
}

.p-blog_details .c-article-nav__label--prev,
.p-blog_details .c-article-nav__label--next {
  width: clamp(15.6rem, 40vw, 26rem);
}




.p-blog_details .c-article-nav__content {
  display: flex;
  align-items: flex-end;
  gap: 1.6rem;

  @include sp {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
  }
}

.p-blog_details .c-article-nav__item {
  width: auto;
  // flex-shrink: 0;
}

.p-blog_details .c-article-nav__text {
  white-space: normal;
  line-height: 1.56;
  // width: 6.8rem;

  @include sp {}
}

.p-blog_details .c-article-nav__img {
  margin: 0;


  @include sp {
    display: none;
  }
}


/* ===============================================
# blog詳細ページ用：関連記事
=============================================== */

.p-blog_details .c-article-related__title {
  width: 100%;
  margin-top: 9rem;
  font-size: 1.8rem;
  padding-left: 3.2rem;

  @include sp {
    // width: 33.5rem;
    text-align: center;
    justify-content: center;
    margin-top: 6.4rem;
    padding-left: 1.5rem;
  }
}

.p-blog_details .c-result-card__link {
  gap: 3rem;

  @include sp {
    display: flex;
    gap: 2rem;
    align-items: flex-start;

  }
}

.p-blog_details .c-result-card__body {
  @include sp {
    // width: 100%;
    // max-width: 33.5rem;
    flex: 1;
    max-width: none;
  }
}

.p-blog_details .c-result-card__text {
  width: 35.9rem;
  font-weight: 700;
  margin-top: 0;

  @include sp {
    width: 100%;
    font-size: 1.7rem;
    line-height: 1.674;
    display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 0.9rem;
  }
}

/* ブログ詳細ページ：関連記事カードの画像サイズ */
.p-blog_details .c-article-related .c-result-card__img {
  width: 20rem;
  height: 14rem;

  @include sp {
    width: 16rem;
    height: 11rem;
    flex-shrink: 0;
  }
}

.p-blog_details .c-article-related .c-result-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// ===============================================
// ページ専用：パンくずの高さ調整（
// ===============================================

.is-detail-page .c-breadcrumb {
  padding-right: 0;
  padding-left: 0;
  padding-top: 1.3rem;
  padding-bottom: 0.7rem;

  @include sp {
    min-height: 5.9rem;
    padding-top: 0.3rem;
    // height: auto;
  }
}

.is-detail-page .c-breadcrumb__item {
  font-size: 1.6rem;
  white-space: normal;
  display: inline-block;
  -ms-flex-align: initial;
  align-items: initial;
  gap: initial;
}


/* 最後のパンくず以外に > を付ける */
.is-detail-page .c-breadcrumb__item:not(:last-child)::after {
  content: ">";
  display: inline-block;
  margin-left: 1.3rem;

  @include sp {
    margin-left: 1.2rem;
  }
}

/* 詳細ページでは before を使わない */
.is-detail-page .c-breadcrumb__item+.c-breadcrumb__item::before {
  content: none;
}

/* ===============================================
# SP 共通：詳細ページのパンくずだけ折り返しレイアウト
=============================================== */

.is-detail-page .c-breadcrumb__list {
  flex-wrap: wrap;
  row-gap: 0.2rem;
  column-gap: 3rem;

  @include sp {
    row-gap: 0;
  }
}


.is-detail-page .c-breadcrumb__item.is-detail-page-item {
  display: flex !important;
  gap: 0 !important;
}

// .is-detail-page .c-breadcrumb__item + .c-breadcrumb__item::before {
//   content: ">";
//   display: inline-block;
//   // margin-left: 0.1rem;
// }