@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../component/c-hero";
// @use "../../foundation/base" as *;

// // ブログタイトル
// .p-blog-list-title {
//     text-align: center;
//     font-size: 2.5rem;
//     color: $text-color;
//     font-weight: 700;
//     // padding-block: 6.7rem 4rem;
//     white-space: nowrap;

//     @include sp {
//         line-height: 1.6;
//     }
// }

 .p-blog-list {
    margin-top: 2rem;

  @include sp {
  }
  }
  

.p-blog-list__content {
    // padding-block: 6.8rem 6.5rem;
    padding-block: 6.7rem 21rem;


    @include sp {
        // display: flex;
        align-items: center;
        padding-block: 5rem 20.3rem;

    }
}