@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;

.p-contact-send__keyvisual {
  @extend .c-hero;
  height: 20rem;
  margin-top: 8rem;

  @include sp {
    margin-top: 5rem;
  }
}

.p-contact-send__keyvisual-text {
  @extend .c-hero__text;
}

