@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../component/c-hero";
// @use "../../foundation/base" as *;


/* ===============================================
# contact-send
=============================================== */
// p-contact-send
.p-contact-send {
  text-align: center;
}


.p-contact-send__keyvisual {
  @extend .c-hero;
  height: 20rem;
  margin-top: 8rem;

  @include sp {
    margin-top: 5rem;
  }
}

.p-contact-send__keyvisual-text {
  @extend .c-hero__text;
}


.p-contact-send .p-page-btn {
  margin-top: 3.5rem;

  @include sp {
    margin-top: 3.9rem;
  }
}


.p-contact-send__content {
  padding-block: 6.7rem 9rem;
 
  @include sp {
    display: flex;
    align-items: center;
    padding-block: 5rem;

  }
}

/* contact_send ページ専用：下の余白（mainの余り高さ）を消す */
.is-short-page .l-wrapper {
  min-height: auto;
}

.is-short-page .l-main.p-contact-send {
  flex: 0 0 auto;
  min-height: auto;
}
