@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../../foundation/base" as *;


.p-footer {
    background: $main-color;
    color: $c-accent;
    padding-block: 4.4rem 5.1rem;
    text-align: center;
    width: 100%;
    // height: auto;
    position: relative;

    @include sp {
        padding-block: 4.4rem 5rem;
        min-height: auto;
    }
}

.p-footer__inner {
    max-width: 108rem;
    margin: 0 auto;
    padding-inline: 4.4rem 5rem;

    @include sp {
        padding-inline: 2rem;
    }
}

.p-footer__nav {
    margin-top: 0;

    @include sp {
        margin-top: 0;
    }
}

.p-footer__nav-list {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.941;
    color: $c-accent;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.3rem;
    list-style: none;
    margin: 0;

    @include sp {
        font-size: 1.7rem;
        align-items: center;
        column-gap: 3.1rem;
        row-gap: 1rem;
        padding: 0;
        list-style: none;
    }
}

.p-footer__nav-list a {
    color: $c-accent;
    transition: opacity 0.4s ease;
}

.p-footer__nav-list a:hover {
    opacity: 0.5;
    cursor: pointer;
}

.p-footer__logo {
    margin-top: 2.174rem;

    @include sp {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.6rem;
    }
}

.p-footer__logo img {

    @include sp {
        // width: 3.2rem; 
    }
}

.p-footer__sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-top: 0.2rem;

    @include sp {
        margin-top: 1.6rem;
        gap: 0.983rem;
    }
}

.p-footer__sns a {
    transition: opacity 0.4s ease;
}

.p-footer__sns a:hover {
    opacity: 0.7;
    cursor: pointer;
}

.p-footer__sns a img {
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 1;
    transform: scale(1);
}

.p-footer__sns a:hover img {
    opacity: 0.7;
    transform: scale(1.05);
}

.p-footer__copyright {
    background: $main-color;
    display: flex;
    justify-content: center;
    margin-top: 1.7rem;
    width: 100%;
    white-space: normal;

    @include sp {
        font-size: 1.5rem;
        display: block;
        // padding-block: 2.1rem;
        // padding-inline: 3rem;
        margin-top: 2.4rem;
        white-space: nowrap;
    }
}

// 1. All Rightsの改行
.u-center-block {

    @include sp {
        display: block;
        text-align: center;
        white-space: nowrap;
    }
}

.p-footer__copyright p {
    color: $font-color;
    font-size: vw(15);
    line-height: 1.65;
    text-align: center;
    width: 100%;


    @include sp {
        display: block;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.25;
        // text-align: left;
        margin: 0;
    }
}


  /* フッター右上の問い合わせボタン */

  .p-contact-banner {
    position: absolute;
    right: 0;
    bottom: 100%;   
    z-index: 30;
  
    @include sp {
        right: auto; 
        left: 50%;   
        transform: translateX(-50%); 
    }
}
