@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
// @use "../../foundation/base" as *;


/* --- TOPへ戻る・お問合せボタン --- */
.p-fixed-buttons {
  position: fixed;
  right: 0;
  bottom: 2rem;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3.1rem; 
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 30rem;

  @include sp {
    right: 1.7rem;
    bottom: 31.5rem;
    gap: 1.9rem;
  }

  /* JSでクラスがついた時だけ、セットまとめて表示 */
  &.is-show {
    opacity: 1;
    visibility: visible;
  }
}


.page-top-btn {
  margin-inline: auto;
 
  @include sp {
   margin-inline: 0.2rem;
  }

  img {
    width: 100%;
    height: auto;
  }

  &:hover {
    @include pc {
      opacity: 0.7;
       transform: translateY(-3px);
    }
  }
}

