@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../component/c-hero";
// @use "../../foundation/base" as *;

.p-plan__content {
  // padding-block: 6.8rem 6.5rem;
  padding-block: 6.8rem 22.3rem;

  @include sp {
    // display: flex;
    align-items: center;
    padding-block: 4.6rem 12.6rem;
  }
}

.c-page-title {}

.c-page-title--plan {}

.p-plan-price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 4rem;

  @include sp {
    flex-direction: column;
    gap: 2rem;
  }
}

.p-plan-price__label {
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: $main-color;
  color: $section-bg-color;
  font-size: 2rem;
  font-weight: 700;
  width: 21rem;
  height: 6rem;
  //  gap: 1rem;
}

.p-plan-price__plus {
  display: block;
  position: relative;
  flex-shrink: 0;
  width: 1.85rem;
  height: 1.85rem;
}

.p-plan-price__plus::before,
.p-plan-price__plus::after {
  content: "";
  position: absolute;
  background-color: #000;
}

/* 横線 */
.p-plan-price__plus::before {
  width: 100%;
  height: 0.3rem;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* 縦線 */
.p-plan-price__plus::after {
  height: 100%;
  width: 0.3rem;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}


.p-plan__message {

  margin-top: 4.8rem;
  font-size: 1.8rem;
  line-height: 1.666;

  @include sp {
    font-size: 1.6rem;
    margin-top: 4.7rem;
    width: 33.5rem;
    line-height: 1.875;
    margin-inline: auto;
    // text-align: center;
    justify-content: center;
  }
}

.p-plan-table .c-page-title {
  margin-top: 5.7rem;
}


.p-plan-table__scroll {
  overflow-x: auto;
}

/* プラン表 共通セル */
.p-plan-table__table {
  margin-top: 5rem;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;


  th,
  td {
    padding: 3rem 1rem;
    // border-right: 1px solid #ccc;
    vertical-align: middle;
    // text-align: left;
    font-size: 2rem;
    // font-weight: 700;
  }
}

// @include sp {
//   .p-plan-table__table tbody tr {
//     min-height: 8.5rem; 
//   }
// }

.p-plan-table__table tbody th {
  text-align: left;
  vertical-align: bottom !important;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;

  @include sp {
    font-size: 1.6rem;
    white-space: normal;
    width: 16.7rem;
  }
}

.p-plan-table__table tbody td {
  text-align: center;
  border-right: 1px solid #ccc;

  @include sp {
    width: 16.7rem;
  }
}

/* 表の中身（td）を中央揃え */
.p-plan-table__table tbody td {
  text-align: center;

  // justify-content: center;  
  // align-items: center;     
  // gap: 0.8rem;            
}


/* 月額料金 行だけ太字 */
.p-plan-table__table tbody tr:first-child th,
.p-plan-table__table tbody tr:first-child td {
  font-weight: 700;

  @include sp {}
}




/* ベーシック・プレミアム（黒） */
.p-plan-table__table thead th:not(:first-child) {
  background-color: $text-color;
  color: $c-accent;
  text-align: center;
  padding-top: 1.1rem;
  padding-bottom: 0.6rem;
}

/* スタンダード（おすすめ）だけ赤 */
.p-plan-table__price.is-red {
  color: $main-color;
  font-weight: 700;
  font-size: 2rem;
}


/* おすすめ（上） */
.p-plan-table__badge {
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  // padding-top: 1.1rem;
  // padding-bottom: 0.6rem;
  // text-align: center;
  // background-color: $main-color;
  // color: $section-bg-color;
}

/* スタンダードプラン（下） */
.p-plan-table__title {
  display: block;
  font-size: 2rem;
  font-weight: 700;
}

.p-plan-table__table tbody tr:nth-child(even) {
  background-color: rgba(80, 80, 80, 0.149);
}



// 黒い丸
.p-plan-table__dot {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #000;
  border-radius: 50%;
}

.p-plan-table__dot--red {
  background-color: $main-color;
}

// .p-plan-table__cell {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   gap: 0.6rem;
//   height: 100%;
// }

.p-plan-table__cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  height: 100%;


  @include sp {
    min-width: 8.5rem;
    justify-content: center;
  }
}

.p-plan-table__dash {
  width: 3rem;
  // height: 1px;
  color: #707070;
}


.p-plan-table__head {}


// おすすめスタンダードプランのみ
th.is-recommend {
  background-color: $main-color !important;
  // padding-top: 1.1rem !important;
  // padding-bottom: 0.5rem !important;


  @include sp {}
}


.p-plan-table__badge {}

.p-plan-table__dot {}

.p-plan-table__text {}

.p-plan-table__dot--red {}

.p-page-note {
  margin-top: 2.8rem;
}

/* ===============================================
  SP 横スクロール対応 
=============================================== */

@include sp {
  .p-plan-table__scroll {
    position: relative;
    overflow-x: scroll;
    // -webkit-overflow-scrolling: touch;
    padding-bottom: 1.75rem;

  }

  // .p-plan-table__table {
  //   min-width: 72rem; 
  // }

  .p-plan-table__table tbody tr {
    min-height: 8.5rem;
  }
}

@include sp {
  .p-plan-table__scroll {
    position: relative;
    overflow-x: scroll;
    // padding-bottom: 4rem;      
  }

  .p-plan-table__table {
    width: 85rem;
  }

  .p-plan-table__table tbody tr {
    min-height: 8.5rem;
  }
}


/* ===========================
     ダミースクロールバー
  =========================== */

.p-plan-table__scroll-bar {
  display: none;
  // width: 100%;
  // height: 2.5rem;
  // display: flex;
  // align-items: center;
  // margin-top: 1.2rem;

  @include sp {
    display: flex;
    width: 100%;
    height: 2.5rem;
    align-items: center;
    margin-top: 1.2rem;
  }
}

/* 中身（100 × 23） */
.p-plan-table__scroll-thumb {
  display: none;

  @include sp {
    display: block;
    width: 33.5rem;
    height: 2.5rem;
    background-color: rgba(80, 80, 80, 0.15);
  }
}