@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
// @use "../../foundation/base" as *;


/* --- TOPへ戻る・お問合せボタン --- */
.p-fixed-buttons {
  position: fixed;
  right: 0;
  bottom: 2rem;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3.1rem; 
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 30rem;

  @include sp {
    //  display: block;
    right: 1.7rem;
    bottom: 31.5rem;
    gap: 1.9rem;
  }

  /* JSでクラスがついた時だけ、セットまとめて表示 */
  &.is-show {
    opacity: 1;
    visibility: visible;

    &:hover {
      // opacity: 0.7;
    }
  }
}

/* フッター右上の問い合わせボタン */
// .p-contact-banner {
//   // position: absolute;
//   right: 0;
//   bottom: 100%;   
//   z-index: 30;
//   margin: 0;

//   @include sp {
//       right: auto; 
//       left: 50%;   
//       transform: translateX(-39%); 
//   }
// }

// .p-contact-banner {
//   margin: 0;
// }

.page-top-btn {
  //  position: absolute;
  width: 6.8rem;
  height: 6.8rem;
  margin-inline: auto;
  // right: 11.6rem;
  // bottom: 37.2rem;
  // cursor: pointer;
  // display: block;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

  @include sp {
   margin-inline: 0.2rem;
    //  position: fixed;
    // right: 1.9rem;
    // bottom: 39rem;
  }

  img {
    width: 100%;
    height: auto;
  }

  &:hover {
    @include pc {
      opacity: 1;
       transform: translateY(-3px);
    }
  }
}

