@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
// @use "../../foundation/base" as *;


/* --- TOPへ戻る・お問合せボタン --- */
.p-fixed-buttons {
  position: fixed;
  right: -0.3rem;
  bottom: 28.6rem;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3.1rem; // ★ボタン同士の隙間
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.is-footer-reached {
    position: absolute;
    bottom: 30.5rem !important;
  }

  @include sp {
    // display: block;
    right: 18.7rem;
    bottom: 31.4rem;
    gap: 1.9rem;

    &.is-footer-reached {
      bottom: 31.3rem !important;
    }
  }


/* JSでクラスがついた時だけ、セットまとめて表示 */
&.is-show {
  opacity: 1;
  visibility: visible;

  &:hover {
    opacity: 0.7;
  }
}
}

/* 各ボタンのデザイン */
.p-contact-banner {
  margin: 0;
}

.page-top-btn {
  //  position: absolute;
  width: 6.8rem !important;
  height: 6.8rem !important;
  right: 11.6rem;
  bottom: 37.2rem;
  cursor: pointer;
  display: block;
  transition: transform 0.3s, opacity 0.3s;

  @include sp {
    //  position: fixed;
    right: 1.9rem;
    bottom: 39rem;
  }

  img {
    width: 100%;
    height: auto;
  }

  &:hover {
    @include pc {
      opacity: 0.7;
      transform: translateY(-3px);
    }
  }
}