@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../component/c-hero";
// @use "../../foundation/base" as

.p-result-list__content {
    padding-block: 7rem 15.7rem;
    // padding-block: vw(70) vw(157);

    @include sp {
        // display: flex;
        align-items: center;
        padding-block: 5rem 20.3rem;

    }
}


.p-result-list {
    width: 100%;
    flex: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6.6rem 10.6rem;
    margin-top: 3.4rem;

    @include sp {
        grid-template-columns: 1fr;
        gap: 3.5rem;
    }
}


.p-search .c-hero {

    @include sp {
        aspect-ratio: 375 / 210;
    }
  }
  
  .p-search .c-hero picture {

    @include sp {
        height: 100%;
    }
  }
  
  .p-search .c-hero img {

    @include sp {
        height: 100%;
        object-fit: cover;
    }
  }
  
// ページ専用パンくずリスト
.p-result_details .c-breadcrumb {
    @include sp {
        padding: 0.7rem 2rem 0.7rem 1.8rem;
        min-height: 7.7rem;
      // height: 5.9rem;
    }
  }

  
  