@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../component/c-hero";
// @use "../../foundation/base" as

.c-hero--result-detail {
  margin-top: 7rem;
}

.p-article-title {
  margin-top: 5rem; 
  font-size: 2.5rem;
  line-height: 1.6;
  font-weight: 700;
}

.p-result_details .c-result-card__date {
  text-align: left;   
  margin-top: 1.5rem; 
}


.p-result-list .c-result-card__body {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;  
}

.p-result-details__wrap {
display: flex;
gap: 4rem;
margin-top: 5.7rem;
}

.p-result_details__table {
width: 40rem;

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 0.5px solid #707070;
  padding-left: 2rem;
  font-size: 1.8rem;
  line-height: 1.5;
}

th {
  font-weight: 700;
  background: #e5e5e5;
  width: 14rem;
  padding: 2rem;
}

td {
  width: 26rem; 
}

}

.p-result_details__text {
flex: 1; 
font-size: 1.8rem;   
line-height: 1.666; 
max-width: 44rem;;

} 



.p-blog-list-profile_text {

}

.p-article-nav {
display: flex;
justify-content: space-between;
gap: 19.9rem;
margin-top: 6rem;
}

.p-article-nav__item {

}

.p-article-nav__item--prev {

}

.p-article-nav__link {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

.p-article-nav__label {
  display: inline-block;
  background: #000;
  width: 3.4rem;
  color: #fff;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  margin-bottom: 1.6rem; 
}

.p-article-nav__img {

}

.p-article-nav__text {
  font-size: 1.6rem;
  font-weight: 700;
  flex: 1;
 

}

.p-article-nav__item--next {

}

.p-article-related {

}

.p-article-related__title {

}

.c-result-card {

}

.c-result-card__link {

}

.c-result-card__img {

}

.c-tag {

}

.c-tag--lg {

}

.c-result-card__body {

}

.c-result-card__text {

}

.c-result-card__date {

}



