@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../component/c-hero";
@use "../utility/utility";
// @use "../../foundation/base" as *;



.p-top-hero__catch {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $font-color;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.5;

    @include sp {}
}


.p-top-concept {}

.p-top__content {
    // padding-block: 6.8rem 6.5rem;
    padding-block: 6.6rem 14.5rem;

    @include sp {
        // display: flex;
        align-items: center;
        padding-block: 4.6rem 18.6rem;
    }
}




.p-top-concept__title {
    color: $main-color;
    font-size: 3.55rem;
    font-weight: 700;
    line-height: 1.428;
    text-align: center;

    @include sp {
        font-size: 2.5rem;
        line-height: 1.6;
        margin-top: 1.6rem;
    }
}

.p-top-message__lead {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include sp {
        font-size: 1.8rem;
        line-height: 1.666;
        width: 33.5rem;
        height: 6rem;
        margin: 0 auto;
    }
}

.p-top-message__semicircle {
    display: flex;
    align-items: center;
    justify-content: center;

    @include sp {
        margin-top: 2rem;
    }
}

.p-top-message__flow {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 2.6rem;
    // padding-bottom: 5.5rem;

    @include sp {
        margin-top: 3rem;
    }


}

.p-top-message__arrow {
    position: absolute;
    top: -5.6rem;
    left: 50%;
    transform: translateX(-50%);
}



.p-top-message__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 0;
    list-style: none;

    &::before {
        content: "";
        position: absolute;
        top: -5.2rem;
        bottom: 0; 
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 210px;
        background-color: $main-color;
    }
}


.p-top-message__item {
    position: relative;
    display: flex;
    align-items: center; // 丸とテキストの高さを揃える
    width: 100%;
    min-width: 300px; // カンプの幅感に合わせて調整
}

/* 赤丸（線の真上に配置） */
.p-top-message__item::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    background-color: $main-color;
    border-radius: 50%;
    z-index: 2;
}

.p-top-message__item:first-child::before {
    top: 0.4rem;
}

/* 左側の英語*/
.p-top-message__en {
    font-size: 2.5rem;
    position: absolute;
    right: calc(50% + 2.5rem); // 線の中央から左に25px離す
    color: $main-color;
    font-weight: 700;
    white-space: nowrap;

    @include sp {
        font-size: 2rem;
        line-height: 2.5;
    }
}

/* 右側の日本語 */
.p-top-message__jp {
    font-size: 2.3rem;
    position: absolute;
    left: calc(50% + 3rem);
    white-space: nowrap;

    @include sp {
        font-size: 2rem;
        line-height: 2.5;
    }

}

.p-top-promo {
    // width: 108rem;
    text-align: center;
    background-color: $main-color;
    padding-block: 6.8rem 6rem;
    margin-top: 5.5rem;

    @include sp {
        margin-top: 5rem;
    }
}

.p-top-promo__label {
    font-size: 3rem;
    font-weight: 700;
    color: $c-accent;

}

.p-top-promo__title {
    font-size: 3rem;
    font-weight: 700;
    // background-color: $main-color;
    color: $c-accent;
    // width: 15.4rem;

    @include sp {
        font-size: 2.5rem;
    }
}

.p-top-promo__text {
    font-size: 1.8rem;
    background-color: $main-color;
    color: $c-accent;
    padding-top: 6rem;

    @include sp {
        padding-top: 1.7rem;
    }
}



.p-flow {}

.p-flow--down {}

.l-inner {}

.p-section-title {}

.p-flow__list {}

.p-flow__item {
    display: flex;
    gap: 6rem;
    padding-top: 2.8rem;
    // padding-left: 6rem; 
    position: relative;
}

/* 縦線（最後以外） */
.p-flow__item::before {
    content: "";
    position: absolute;
    left: 1.7rem;
    top: 42px;
    width: 2px;
    height: calc(100% + 5rem);
    background-color: $main-color;
}



.p-flow__item--last::before {
    display: none;
}

/* 先端矢印 */
.p-flow__arrow {
    position: absolute;
    left: 0.1rem;
    bottom: -1.6rem;
}

// .p-flow__arrow img {
//     width: 1.6rem;
//     height: auto;
// }

// 赤丸
.p-flow__dot:before {
    content: "";
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    background-color: $main-color;
    border-radius: 50%;
    z-index: 2;
}

.p-flow__content {
    display: flex;
    gap: 6rem;
    white-space: nowrap;
    position: relative
}

.p-flow__title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: $main-color;
    width: 15.4rem;

    @include sp {}

}

.p-flow__text {
    font-size: 1.8rem;
    line-height: 1.666;

}

.p-flow__item--last {}


.p-top-reason {}

.p-section-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding-top: 6.4rem;

    @include sp {
        font-size: 2.5rem;
        padding-top: 4.9rem;
    }
}

.p-section-title.p-section-title--white {
    color: $font-color;

}


.p-top-reason__list {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-top: 3.5rem;

    @include sp {
        gap: 3.9rem;
        ;
    }
}

.p-top-reason__item {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    // padding-top: 2.8rem;

    @include sp {
        flex-direction: column;
        gap: 3.9rem;

    }
}

.p-top-reason__img {}

.p-top-reason__content {
    position: relative;
    flex: 1;
     margin-left: 0;
   
    
    // padding-bottom: 2.4rem;       // 線と本文の距離
    // border-bottom: 2px solid $main-color;
    // margin: 0;
}



.p-top-reason__item-title {
    font-size: 2.2rem;
    font-weight: 700;
    position: relative;
     display: block;
    border-bottom: 2px solid $main-color;
    margin-left: -5rem;
    padding-left: 5rem;
}

// .p-top-reason__heading {
//     border-bottom: 2px solid $main-color;
//     padding-bottom: 1.2rem;   
//     margin-bottom: 2.4rem;   
//   }
  



.p-top-reason__text {
    font-size: 1.8rem;
    margin-top: 3.7rem;

    @include sp {
        font-size: 1.6rem;


    }
}

.p-top-voice {
    background-color: $main-color;
    margin-top: 9rem;

    .l-inner {
        max-width: 960px;
    }
}

/* =========================
   Splide 矢印カスタマイズ
   ========================= */

/* デフォルトの < >（svg）を消す */
.splide__arrow svg {
    display: none !important;
}

/* Splideが勝手につける丸を消す */
.splide__arrow {
    position: absolute !important;
    background: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    width: auto !important;
    height: auto !important;
    padding: 0 !important;
    display: block;
    // top: auto !important;
    transform: none !important;
}

/* 自作SVG画像サイズ */
.splide__arrow img {
    width: 30px;
    // height: auto;
}

.splide__arrow--prev {
    top: 37% !important;
    left: -4rem !important;
    // top: 8rem; 

    @include sp {
        left: 0 !important;
    }
}

.splide__arrow--next {
    top: 37% !important;
    right: -4rem !important;
    // top: 0rem; 

    @include sp {
        right: 0 !important;
    }
}


.splide__pagination {
    @include sp {
        display: none;
    }
}




.p-top-voice__slider {
    position: relative;
}

.splide__track {}

.splide__list {}

.splide__slide {}

.p-top-voice__item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2.8rem;
    justify-content: center;
    gap: 1.7rem;
    //    padding: 2rem;

    @include sp {
        padding-top: 3.9rem;
        gap: 1.4rem;

    }
}

.p-top-voice__img {
    position: relative;
}



.p-top-voice__meta {
    font-size: 2.2rem;
    font-weight: 700;
    color: $font-color;
    // margin-top: 1.7rem;
}

.p-top-voice__text {
    width: 27rem;
    font-size: 1.8rem;
    color: $font-color;
    // margin-top: 1.7rem;
    line-height: 1.666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    padding-bottom: 8rem;

    @include sp {
        padding-bottom: 5rem;


    }

}


.p-flow {}

.p-flow--down {}

.p-flow__list {}

.p-flow__item {}

.p-flow__dot {}

.p-flow__content {}

.p-flow__title {}

.p-flow__text {}

.p-flow__item--last {}

.p-faq {}

.p-faq__list {}

.p-faq__item {}

.p-faq__question {}

.p-faq__q {}

.p-faq__answer {}

.p-faq__a {}

.p-blog-list {}

.p-top-page .p-top-blog__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

    @include sp {
        display: block;
    }
}

.p-top-page .c-blog-card__link {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.p-top-page .c-blog-card__date {
    text-align: right;
}


/* トップページ専用 */
.p-top-page .c-blog-card__body {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.p-top-page .c-blog-card {
    margin-top: 3.8rem;
}


.p-top-blog__more {
    text-align: right;
    margin-top: 3.7rem;
}

.p-top-blog__more-link {

    border-bottom: 1px solid currentColor;
    transition: opacity 0.3s;

}