@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../component/c-hero";
@use "../utility/utility";
// @use "../../foundation/base" as *;



.p-top-hero__catch {
    position: absolute;
    // inset: 0;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $font-color;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.5;

    @include sp {
        display: block;
        top: 51%;
        left: 50%;
        font-size: 3rem;
        line-height: 1.666;
        width: 30rem;
    }
}


.p-top-concept {}

.p-top__content {
    // padding-block: 6.8rem 6.5rem;
    padding-block: 5.9rem 7.7rem;

    @include sp {
        // display: flex;
        align-items: center;
        padding-block: 4.6rem 4.9rem;
    }
}

.p-top-concept__title {
    color: $main-color;
    font-size: 3.55rem;
    font-weight: 700;
    // line-height: 1.428;
    text-align: center;

    @include sp {
        font-size: 2.5rem;
        line-height: 1.6;
        margin-top: 1.6rem;
    }
}

.p-top-message__lead {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;

    @include sp {
        font-size: 1.8rem;
        line-height: 1.666;
        width: 33.5rem;
        height: 6rem;
        margin: 0 auto;
    }
}

.p-top-message__semicircle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.8rem;

    @include sp {
        margin-top: 2rem;
    }
}

.p-top-message__flow {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 4.6rem;
    // padding-bottom: 5.5rem;

    @include sp {
        margin-top: 3rem;
    }


}

.p-top-message__arrow {
    position: absolute;
    top: -5.6rem;
    left: 50%;
    transform: translateX(-50%);
}


.p-top-message__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding: 0;
    list-style: none;

    &::before {
        content: "";
        position: absolute;
        top: -5.2rem;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 199px;
        background-color: $main-color;
    }
}


.p-top-message__item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 300px;

}

/* 赤丸（線の真上に配置） */
.p-top-message__item::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    background-color: $main-color;
    border-radius: 50%;
    z-index: 2;
}


/* ⚪️2個目 */
.p-top-message__item:nth-child(2)::before {
    transform: translate(-50%, -60%);
}

/* ⚪️3個目 */
.p-top-message__item:nth-child(3)::before {
    transform: translate(-50%, -64%);
}

/* 左側の英語*/
.p-top-message__en {
    font-size: 2.5rem;
    position: absolute;
    right: calc(50% + 4rem); // 線の中央から左に25px離す
    color: $main-color;
    font-weight: 700;
    white-space: nowrap;

    @include sp {
        font-size: 2rem;
        line-height: 2.5;
    }
}

/* 右側の日本語 */
.p-top-message__jp {
    font-size: 2.3rem;
    position: absolute;
    left: calc(50% + 4rem);
    white-space: nowrap;

    @include sp {
        font-size: 2rem;
        line-height: 2.5;
    }

}

// 共通タイトル
.p-section-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;

    // padding-top: 6.4rem;

    @include sp {
        font-size: 2.5rem;
        // padding-top: 4.9rem;
    }
}


.p-top-promo {
    // width: 108rem;
    text-align: center;
    background-color: $main-color;
    padding-block: 6.2rem 6rem;
    // margin-top: 5.5rem;

    @include sp {
        // margin-top: 5rem;
    }
}

.p-top-promo__label {
    font-size: 3rem;
    font-weight: 700;
    color: $c-accent;

}

.p-top-promo__title {
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    // background-color: $main-color;
    color: $c-accent;
    // width: 15.4rem;

    @include sp {
        font-size: 2.5rem;
    }
}

.p-top-promo__text {
    font-size: 1.8rem;
    background-color: $main-color;
    color: $c-accent;
    padding-top: 2rem;

    @include sp {
        padding-top: 1.7rem;
    }
}

/* ===============================================
# ご利用の流れ
=============================================== */

.p-flow--down {
    padding-block: 3.4rem 6.5rem;

    @include sp {
        padding-block: 4.6rem 5.5rem;
    }
}


.p-flow__list {
    padding-top: 5.3rem;

    @include sp {
        padding-top: 3.6rem;
    }
}

.p-flow__item {
    display: flex;
    // gap: 6rem;
    // padding-top: 2.8rem;
    padding-left: 6rem;
    position: relative;

    &+& {
        margin-top: 5.8rem;

        @include sp {
            margin-top: 3.6rem;
        }
    }
}

/* 縦線（最後以外） */
.p-flow__item::before {
    content: "";
    position: absolute;
    left: 5.8rem;
    top: 0.8rem;
    width: 2px;
    height: calc(100% + 5.8rem);
    // height: 404px;
    background-color: $main-color;

    @include sp {
        height: calc(100% + 13.5rem);
    }
}

// .p-flow__item--last::before {
//     display: none;
// }

.p-flow__item--last {
    &::before {

        height: 5.7rem;

        @include sp {
            height: calc(100% + 0rem) !important;
        }
    }
}

/* 先端矢印 */
.p-flow__arrow {
    position: absolute;
    // top: -5.6rem;
    left: 6rem;
    bottom: -2rem;
    transform: translateX(-50%);
}

// .p-top-message__arrow {
//     position: absolute;
//     top: -5.6rem;
//     left: 50%;
//     bottom: 0;
//     transform: translateX(-50%);
// }
// // .p-flow__arrow img {
//     width: 1.6rem;
//     height: auto;
// }

// 赤丸
.p-flow__item::after {
    content: "";
    position: absolute;
    left: 6rem;
    top: 0.8rem;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    background-color: $main-color;
    border-radius: 50%;
    z-index: 2;
}

.p-flow__content {
    display: flex;
    gap: 10rem;
    width: 100%;
    align-items: flex-start;
    position: relative;

    @include sp {
        display: block;
        gap: 0;
    }
}

.p-flow__title {
    position: relative;
    top: -1rem;
    font-size: 2.2rem;
    font-weight: 700;
    // line-height: 1.5;
    color: $main-color;
    width: 15.4rem;
    padding-left: 6.2rem;
    padding-top: 0.5rem;
    white-space: nowrap;
    flex-shrink: 0;

    @include sp {}

}

.p-flow__text {
    font-size: 1.8rem;
    line-height: 1.666;
    flex: 1;
    // gap: 6rem;

    @include sp {
        font-size: 1.6rem;
    }
}

/* ===============================================
# 選ばれる理由
=============================================== */
.p-top-reason {
    padding-block: 6.4rem 8rem;

    @include sp {
        padding-block: 4.9rem 3.9rem;
    }
}

.p-section-title.p-section-title--white {
    color: $font-color;
}

.p-top-reason__list {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 2rem;

    @include sp {
        gap: 3.9rem;
    }
}

.p-top-reason__item {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    // padding-top: 2.8rem;

    @include sp {
        flex-direction: column;
        gap: 3.9rem;

    }
}

.p-top-reason__item:nth-child(1) .p-top-reason__item-title {
    margin-top: 1rem;
}

.p-top-reason__img img {
    width: 35rem;
    // width: 100%;    
    height: auto;
    aspect-ratio: 350 / 247;
    object-fit: cover;
    flex-shrink: 0;
}


.p-top-reason__content {
    position: relative;
    flex: 1;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    gap: 3.7rem;

    @include sp {
        gap: 1.7rem;
    }
}

.p-top-reason__item-title {
    font-size: 2.2rem;
    font-weight: 700;
    position: relative;
    display: block;
    border-bottom: 2px solid $main-color;
    margin-left: -5rem;
    padding-left: 5rem;
}


.p-top-reason__text {
    font-size: 1.8rem;
    // margin-top: 3.7rem;

    @include sp {
        font-size: 1.6rem;
    }
}

.p-top-voice {
    background-color: $main-color;
    padding-block: 4.6rem 8.5rem;
    // margin-top: 9rem;

    .l-inner {
        max-width: 960px;

    }
}

/* =========================
   Splide 矢印カスタマイズ
   ========================= */

/* デフォルトの < >（svg）を消す */
.splide__arrow svg {
    display: none !important;
}

/* Splideが勝手につける丸を消す */
.splide__arrow {
    position: absolute !important;
    background: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    width: auto !important;
    height: auto !important;
    padding: 0 !important;
    display: block;
    // top: auto !important;
    transform: none !important;
}

/* 自作SVG画像サイズ */
.splide__arrow img {
    width: 30px;
    // height: auto;
}

.splide__arrow--prev {
    top: 40% !important;
    left: -2rem !important;
    // top: 8rem; 

    @include sp {
        left: 0 !important;
    }
}

.splide__arrow--next {
    top: 40% !important;
    right: -2rem !important;
    // top: 0rem; 

    @include sp {
        right: 0 !important;
    }
}


.splide__pagination {
    @include sp {
        display: none;
    }
}


.p-top-voice__slider {
    position: relative;
}

.splide__track {}

.splide__list {}

.splide__slide {}

.p-top-voice__item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2.8rem;
    justify-content: center;
    // gap: 1.7rem;
    //    padding: 2rem;

    @include sp {
        padding-top: 3.9rem;
        gap: 1.4rem;

    }
}

.p-top-voice__img {
    position: relative;
    // margin-top: 4rem;
}

/* 1枚目（左：丸山さん）の調整 */
.p-top-voice__item:nth-child(1) {
    .p-top-voice__img {
        // 真ん中より左にズレているならプラス、右にズレているならマイナスで微調整
        margin-left: -0.5rem;
    }
}

/* 3枚目（右：田森さん）の調整 */
.p-top-voice__item:nth-child(3) {
    .p-top-voice__img {
        // 真ん中より右にズレているならマイナス、左にズレているならプラスで微調整
        margin-left: -0.5rem;
    }
}

.p-top-voice__img img {
    width: 27rem;
    // width: 100%;    
    height: auto;
    aspect-ratio: 270 / 190;
    object-fit: cover;
    flex-shrink: 0;
}

.p-top-voice__meta {
    font-size: 2.2rem;
    font-weight: 700;
    color: $font-color;
    margin-top: 1.9rem;
    // margin-top: 1.7rem;
}

.p-top-voice__text {
    width: 27rem;
    font-size: 1.8rem;
    color: $font-color;
    // margin-top: 1.7rem;
    line-height: 1.666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    @include sp {}

}

/* ===============================================
# よくあるご質問
=============================================== */
.p-faq {
    padding-block: 3.6rem 7.1rem;

    @include sp {
        padding-block: 3.9rem 5rem;
    }
}

.p-faq__list {
    border-top: 0.5px solid $text-color;
    margin-top: 3.6rem;
}

.p-faq__item {
    height: auto;
    border-bottom: 0.5px solid $text-color;
    transition: background-color 0.3s;

    &.is-open {
        background-color: rgba(203, 0, 0, 0.098);
    }
}

.p-faq__question {
    display: flex;
    position: relative;
    padding-block: 1.5rem;
    padding-inline: 2rem 1.9rem;
    width: 100%;
    gap: 1rem;
    line-height: 1.764;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        /* 書き出した画像のサイズに合わせる */
        width: 1.4rem;
        height: 1rem;
        background: url("../images/top/icon-faq-arrow.svg") no-repeat center/contain;
        transition: transform 0.3s;

        // text-align: right;
        @include sp {
            padding-block: 1.7rem .9rem;

        }
    }

    /* 開いている時は180度回転させる */
    &.is-open::after {
        transform: translateY(-50%) rotate(180deg);
    }
}


/* Qのマーク */
.p-faq__q {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    background-color: $text-color;
    color: $c-accent;
    border-radius: 50%;
    font-size: 1.7rem;
    font-weight: 700;
    flex-shrink: 0;
    // margin-right: 1rem;

    @include sp {
        width: 2.8rem;
        height: 2.8rem;
        font-size: 1.6rem;
    }
}

/* Aのマーク */
.p-faq__a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    background-color: $main-color;
    color: $c-accent;
    border-radius: 50%;
    font-size: 1.7rem;
    font-weight: 700;
    flex-shrink: 0;
    margin-right: 1rem;

    @include sp {
        width: 2.8rem;
        height: 2.8rem;
        font-size: 1.6rem;
    }
}

.p-faq__answer {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: $main-color;
    font-size: 1.7rem;
    line-height: 1.764;
    background-color: rgba(203, 0, 0, 0.098);
    height: 6.4rem;
    padding-inline: 2rem;

    @include sp {
        height: 11.6rem;
    }
}

.p-faq__a {}




/* ===============================================
# ブログ一覧
=============================================== */

.p-top-page .p-top-blog__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

    @include sp {
        display: block;
    }
}

.p-top-page .c-blog-card__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}


.p-top-page .c-blog-card__date {
    text-align: right;
    padding-top: 1rem;
}


/* トップページ専用 */
.p-top-page .c-blog-card__body {
    display: flex;
    flex-direction: column;
    height: 100%;
   
}

/* TOPページ専用の上書き */
.p-top-page .c-blog-card {
    // margin-top: 0;

    &+.c-blog-card {
        margin-top: 3.2rem;
    }
}

.p-top-page .c-blog-card__img {
    width: 26rem;
    height: auto;
    aspect-ratio: 260 / 200;
}

.p-top-blog__more {
    text-align: right;
    margin-top: 3.7rem;
}

.p-top-blog__more-link {

    border-bottom: 1px solid currentColor;
    transition: opacity 0.3s;

}

.p-top-page .p-blog-list {
    margin-top: 0;
    padding-block: 5.6rem 20.2rem;
}