@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../component/c-hero";
@use "../utility/utility";
// @use "../../foundation/base" as *;

.p-top-page {}

.l-wrapper {}

.l-header {}

.p-header {}

.p-header__inner {}

.p-header__logo {}

.p-header__site-title {}

.logo {}

.logo__img {}

.p-header__logo-text {}

.logo__main {}

.logo__sub {}

.p-header__nav {}

.p-header__nav-list {}

.p-header__nav-item--contact {}

.c-button {}

.c-button--head {}

.c-hamburger {}

.c-hamburger__line {}

.p-header__nav-sp {}

.p-header__nav-sp-list {}

.l-main {}

.p-top-hero__catch {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $font-color;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.5;

    @include sp {}
}


.p-top-concept {}

.p-top__content {
    // padding-block: 6.8rem 6.5rem;
    padding-block: 6.6rem 14.5rem;

    @include sp {
        // display: flex;
        align-items: center;
        padding-block: 4.6rem 18.6rem;
    }
}




.p-top-concept__title {
    color: $main-color;
    font-size: 3.55rem;
    font-weight: 700;
    line-height: 1.428;
    text-align: center;


    @include sp {}

}

.p-top-message__list {
    width: fit-content;
    margin: 0 auto;
}


/* 縦線 */
.p-top-message__list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0.8rem;
    width: 2px;
    height: 100%;
    background-color: $main-color;
}


.p-top-message__item {
    position: relative;
    padding-left: 2rem;
}

/* 赤丸 */
.p-top-message__item::before {
    content: "";
    position: absolute;
    top: 0.6em; // テキスト中央に合わせる
    left: -0.4rem;
    width: 0.8rem;
    height: 0.8rem;
    background-color: $main-color;
    border-radius: 50%;
}

.p-top-message__list::after {
    content: "";
    position: absolute;
    top: -0.6rem;
    left: 0.45rem;
    width: 0;
    height: 0;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-bottom: 0.6rem solid $main-color;
}

.p-top-message {
    text-align: center;
}

.p-top-message__lead {
    font-size: 1.8rem;
    line-height: 1.666;
    text-align: center;
    margin-top: 1.7rem;
}

.p-top-message__semicircle {
    display: block;
    margin-top: 3.4rem;
}

.p-top-message__list {
    display: block;
    position: relative;
    text-align: center;
}

.p-top-message__item {}

.p-top-message__en {
    font-size: 2.5rem;
    color: $main-color;
    font-weight: 700;


}

.p-top-message__jp {
    font-size: 2.3rem;

}

.p-top-promo {
    // width: 108rem;
    text-align: center;
    background-color: $main-color;
    padding-block: 6.8rem 6rem;
    margin-top: 5.5rem;
}

.p-top-promo__label {
    font-size: 3rem;
    font-weight: 700;
    color: $c-accent;

}

.p-top-promo__title {
    font-size: 3rem;
    font-weight: 700;
    // background-color: $main-color;
    color: $c-accent;
}

.p-top-promo__text {
    font-size: 1.8rem;
    background-color: $main-color;
    color: $c-accent;
    padding-top: 6rem;
}


.p-top-reason {}

.p-section-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding-top: 6.4rem;
}

.p-section-title.p-section-title--white {
    color: $font-color;

}


.p-top-reason__list {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.p-top-reason__item {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    padding-top: 2.8rem;

    @include sp {
        flex-direction: column;

        gap: 3.9rem;

    }
}

.p-top-reason__img {}

.p-top-reason__content {
    position: relative;
    flex: 1;
}

.p-top-reason__content::after {
    content: "";
    position: absolute;
    top: 2.2em;
    right: 1.4rem;
    width: 53.2rem;
    height: 2px;
    background-color: #CB0000;
}


.p-top-reason__item-title {
    font-size: 2.2rem;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

// .p-top-reason__item-title::after {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: calc(100% + 2rem);
//     width: 53.2rem;       
//     height: 2px;
//     background-color: #CB0000;
//     transform: translateY(-50%);
//   }

.p-top-reason__text {
    font-size: 1.8rem;
    margin-top: 3.7rem;
}

.p-top-voice {
    background-color: $main-color;
    margin-top: 9rem;
  
    .l-inner {
      max-width: 960px;
    }
  }

/* =========================
   Splide 矢印カスタマイズ
   ========================= */

/* デフォルトの < >（svg）を消す */
.splide__arrow svg {
    display: none !important;
  }
  
  /* Splideが勝手につける丸を消す */
  .splide__arrow {
    position: absolute !important; 
    background: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    width: auto !important;
    height: auto !important;
    padding: 0 !important;
    display: block; 
    // top: auto !important;
    transform: none !important;
  }
  
  /* 自作SVG画像サイズ */
  .splide__arrow img {
    width: 30px; 
    // height: auto;
  }
  
  .splide__arrow--prev {
    left: -3rem;
    // top: 8rem; 
 }
  
  .splide__arrow--next {
    right: -4rem;
    // top: 0rem; 
  }



.p-top-voice__slider {
    position: relative;
}

.splide__track {}

.splide__list {}

.splide__slide {}

.p-top-voice__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2.8rem;
    justify-content: center;
    gap: 1.7rem;
    //    padding: 2rem;
}

.p-top-voice__img {}



.p-top-voice__meta {
    font-size: 2.2rem;
    font-weight: 700;
    color: $font-color;
    // margin-top: 1.7rem;
}

.p-top-voice__text {
    width: 27rem;
    font-size: 1.8rem;
    color: $font-color;
    // margin-top: 1.7rem;
    line-height: 1.666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    padding-bottom: 8rem;

}


.p-flow {}

.p-flow--down {}

.p-flow__list {}

.p-flow__item {}

.p-flow__dot {}

.p-flow__content {}

.p-flow__title {}

.p-flow__text {}

.p-flow__item--last {}

.p-faq {}

.p-faq__list {}

.p-faq__item {}

.p-faq__question {}

.p-faq__q {}

.p-faq__answer {}

.p-faq__a {}

.p-blog-list {}

.c-blog-card {}

.c-blog-card__link {}

.c-blog-card__img {}

.c-tag {}

.c-blog-card__body {}

.c-blog-card__title {}

.c-blog-card__date {}

.p-blog-list__more {}

.p-blog-list__more-link {}

.js-to-top {}

.page-top-btn {}

.l-footer {}

.p-footer {}

.p-contact-banner {}

.c-button--footer {}

.p-footer__inner {}

.p-footer__nav {}

.p-footer__nav-list {}

.p-footer__content {}

.p-footer__logo {}

.p-footer-logo__link {}

.p-footer__copyright {}

.u-center-block {}

.p-footer__sns {}