@use "../../global/variable" as *;
@use "../../global/function" as *;
@use "../../global/mixin" as *;
//  @use "../../foundation/base" as *;

/* ===============================================
# 問い合わせbutton
=============================================== */

.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: $main-color;
  font-size: 2.5rem;
  //  trsition: $c-accent;
  font-weight: 700;
  line-height: 1.32;
  color: $font-color;
  border: none;
  cursor: pointer;
  border: 1px solid $main-color;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  width: 100%;
  max-width: 25rem;
  height: 5rem;
  padding: 1rem 5rem 0.7rem 5.1rem;
  white-space: nowrap;

  @include sp {
    font-size: 2rem;
    max-width: 33.5rem;
  }
}

.c-button--head {
  max-width: 15rem;
  height: 4.5rem;
  padding: 0.7rem 3rem 0.5rem 3rem;
  background-color: $main-color;
  color: $font-color;
  border: 1px solid $main-color;
  font-size: 1.5rem;
}

.c-button:hover {
  background-color: $font-color;
  color: $main-color;
  //  border-color: $main-color;     
}

/* フッター右上の 問い合わせボタン*/
.c-button--footer {
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 6rem;
  max-width: none;
  // padding-inline: 8rem 8.4rem;
  // top: 0;   
  // right: 0;  
  z-index: 20;
  font-size: 2rem;
  line-height: 1.65;
  letter-spacing: 0.2em;

  @include sp {
    width: 33.5rem;
    max-width: 100%;
    //  padding-inline: 0;

  }
}