@use "../../global/variable" as *;
@use "../../global/function" as *;
@use "../../global/mixin" as *;
//  @use "../../foundation/base" as *;

/* ===============================================
# ホームへ戻るbutton
=============================================== */

.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: $main-color;
  font-size: 2.5rem;
  //  trsition: $c-accent;
  font-weight: 700;
  line-height: 1.32;
  color: $font-color;
  border: none;
  cursor: pointer;
  border: 1px solid $main-color;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  max-width: 25rem;
  height: 5rem;
  padding: 1rem 5rem 0.7rem 5.1rem;
  white-space: nowrap;

  @include sp {
    font-size: 2rem;
    max-width: 33.5rem;
  }
}

.c-button--head {
  max-width: 15rem;
  height: 4.5rem;
  padding: 0.7rem 3rem 0.5rem 3rem;
  background-color: $main-color;
  color: $font-color;
  border: 1px solid $main-color;
}

/* フッター右上の 問い合わせボタン*/
.c-button--footer {
  position: relative;
  width: 30rem;
  height: 6rem;
  padding-inline: 8rem 8.4rem;
  top: 0;   // フッターより上に出す高さを調整
  right: 0;  // 右にぴったり（数値は調整OK）
  z-index: 20;
  font-size: 2rem;
  line-height: 1.65;
}
