@use "../../global/variable" as *;
@use "../../global/function" as *;
@use "../../global/mixin" as *;


/* ===============================================
# ブログカード：ラベル
=============================================== */
.c-blog-card {
    display: block;

    @include sp {}
}

.c-blog-card__link {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 3.8rem;

    @include sp {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }
}


.c-blog-card__img {
    display: flex;
    position: relative;
}

.c-blog-card__img img {
    width: 100%;
}

.c-blog-card__label {
    position: absolute;
    font-size: 1.5rem;
    background-color: $main-color;
    color: $c-accent;
    top: 0;
    left: 0;
    padding-inline: 0.2rem;
    width: 8rem;
    height: 3rem;
    text-align: center;
}

.c-blog-card__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    flex: 1;



}

.c-blog-card__title {
    font-size: 2rem;
    font-weight: 700;

    @include sp {
        text-align: center;
    }
}

.c-blog-card__date {
    font-size: 1.7rem;

    @include sp {
        text-align: right;
    }

}

.c-blog-card__text {
    font-size: 1.8rem;
    width: auto;
    height: 9rem;
    overflow: hidden;

    @include sp {
        width: 100%;
        height: 15rem;
        text-align: left;
    }
}