 @use "../../global/variable" as *;
  @use "../../global/function" as *;
 @use "../../global/mixin" as *;

.c-breadcrumb {
  font-size: 1.6rem;
  color: $text-color;
  margin-top: 0;
  width: 100%;
  // height: auto;
  min-height: 5rem;
  background-color: #E8E8E8;
  padding: 1rem 9.31rem 0.7rem 10rem;
  z-index: 2;

  @include sp {
    padding: 0.7rem 2rem 0.7rem 1.8rem;
    height: 3.6rem;

    // padding-inline: 2rem 1.8rem;
  }

}

.c-breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.9rem;
}

.c-breadcrumb__item {
  display: inline-flex;
  align-items: center;
  gap: 2rem;
}

.c-breadcrumb__item+.c-breadcrumb__item::before {
  content: ">";
  display: inline-block;
  // margin: 0 2rem;
  color: $text-color;
}

.c-breadcrumb a {
  color: $text-color;
  text-decoration: none;
  transition: opacity 0.3s ease;

  @include sp {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
  }
}

.c-breadcrumb a:hover {
  opacity: 0.7;
}

.is-detail-page .c-breadcrumb {
  
  padding-right: 0;
  padding-left: 0;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
}

.is-detail-page .c-breadcrumb__item {
  display: inline-block;
  -ms-flex-align: initial;
  align-items: initial;
  gap: initial; 
}

/* ===============================================
# SP 共通：詳細ページのパンくずだけ折り返しレイアウト
=============================================== */

@include sp {
  .is-detail-page .c-breadcrumb {
    padding: 0.7rem 2rem 0.7rem 1.8rem;
    min-height: 7.7rem;
    // height: auto;
  }

  .is-detail-page .c-breadcrumb__list {
    flex-wrap: wrap;
    row-gap: 0.2rem;
    column-gap: 3rem;
    // padding-top: 0.4rem;
    // overflow-x: auto;
    // gap: 0;
  }

  .is-detail-page .c-breadcrumb__item {
    font-size: 1.6rem;
    white-space: normal;
  }

  .is-detail-page .c-breadcrumb__item.is-detail-page-item {
    display: flex !important;
    gap: 0 !important;   
  }

  .is-detail-page .c-breadcrumb__item + .c-breadcrumb__item::before {
    content: ">";
    display: inline-block;
    margin: 0 1rem;
  }
}


