@use "../../global/variable" as *;
@use "../../global/function" as *;
@use "../../global/mixin" as *;

.c-breadcrumb {
  font-size: 1.6rem;
  color: $text-color;
  margin-top: 0;
  width: 100%;
  height: 5rem;
  background-color: #E8E8E8;
  padding: 1rem 10rem 0.7rem 8.17rem;
  z-index: 2;

  @include sp {
    padding: 0.7rem 2rem 0.7rem 1.8rem;
    height: 3.6rem;

    // padding-inline: 2rem 1.8rem;
  }

}

.c-breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
}

.c-breadcrumb__item {
  display: inline-flex;
  align-items: center;
  gap: 2rem;
}

.c-breadcrumb__item+.c-breadcrumb__item::before {
  content: ">";
  display: inline-block;
  // margin: 0 2rem;
  color: $text-color;
}

.c-breadcrumb a {
  color: $text-color;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.c-breadcrumb a:hover {
  opacity: 0.7;

  @include sp {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
  }
}