 @use "../../global/variable" as *;
 @use "../../global/function" as *;
 @use "../../global/mixin" as *;

 .c-breadcrumb {
   font-size: 1.6rem;
   color: $text-color;
   margin-top: 0;
   width: 100%;
   background-color: #E8E8E8;
   padding: 0;
  //  padding-block: 1.2rem 0.9rem;
   z-index: 2;
   
   @include sp {
    //  padding-block: 0.4rem 0.3rem;
   }
 }

 .c-breadcrumb__list {
   display: flex;
   flex-wrap: nowrap;
   gap: 0.5rem 2rem;
   overflow-x: auto;
   white-space: nowrap;
   -webkit-overflow-scrolling: touch;

   &::-webkit-scrollbar {
     display: none;
   }

   -ms-overflow-style: none;
   scrollbar-width: none;
   max-width: 108rem;
   margin: 0 auto;
 }

 .c-breadcrumb__item {
   display: inline-flex;
   align-items: center;
   gap: 2rem;
   flex-shrink: 0;
 }

 .c-breadcrumb__item+.c-breadcrumb__item::before {
   content: ">";
   display: inline-block;
   margin: 0;
   color: $text-color;
 }

 .c-breadcrumb a {
  display: inline-block;
   color: $text-color;
   text-decoration: none;
   transition: opacity 0.3s ease;
   height: 100%;
   padding-block: 1.2rem 0.9rem;

   @include sp {
     font-size: 1.6rem;
     padding-block: 1rem;
     line-height: 1;
     letter-spacing: 0.08em;
   }
 }

 .c-breadcrumb a:hover {
   opacity: 0.7;
 }

 /* ===============================================
# SP 共通：詳細ページのパンくずだけ折り返しレイアウト
=============================================== */
 .is-detail-page .c-breadcrumb__item.is-detail-page-item {
   display: flex !important;
   gap: 0 !important;
 }