@use "../../global/variable" as *;
@use "../../global/function" as *;
@use "../../global/mixin" as *;


/* ===============================================
# ブログカード
=============================================== */
.c-blog-card {
    display: block;

    @include sp {
        width: 100%;
        margin-inline: auto;
    }
}

.c-blog-card__link {
    display: flex;
    flex-direction: row;
    gap: 5rem;
 
    opacity: 1;
    transition: opacity 0.4s ease-in-out;

    &:hover {
        opacity: 0.7;
    }

    @include sp {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2.3rem;
        margin-top: 0;
    }
}

.c-blog-card__img {
    display: flex;
    position: relative;
    width: 26rem;
    height: 18.4rem;

    @include sp {
        width: 100%;
        height: auto;
        flex-shrink: 0;
    }
}

.c-blog-card__img img {
    width: 100%;

    @include sp {
        width: auto;
        height: auto;
    }
}

.c-blog-card__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.c-blog-card__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;

    @include sp {
        text-align: left;
    }
}

.c-blog-card__date {
    font-size: 1.7rem;
    line-height: 1.764;
     padding-top: 0.3rem;

    @include sp {
        text-align: right;
        padding-top: 1.1rem;
    }
}

.c-blog-card__text {
    font-size: 1.8rem;
    width: auto;
    height: 9rem;
    // overflow: hidden;
    line-height: 1.666;
     padding-top: 0.9rem;

    @include sp {
        font-size: 1.6rem;
        width: 100%;
        height: auto;
        overflow: visible;
        text-align: left;
        line-height: 1.875;
    }
}