 @use "../../global/variable" as *;
 @use "../../global/function" as *;
 @use "../../global/mixin" as *;

 .c-breadcrumb {
   font-size: 1.6rem;
   color: $text-color;
   margin-top: 0;
   width: 100%;
   // min-height: 5rem;
   background-color: #E8E8E8;
   padding-block: 1.5rem 2rem;
   z-index: 2;
   //  overflow: visible;

   @include sp {
     padding-block: 0.7rem;
     //  min-height: 0;
   }
 }

 .c-breadcrumb__list {
   display: flex;
   flex-wrap: nowrap;
   gap: 0.5rem 2rem;
   overflow-x: auto;
   white-space: nowrap;
   -webkit-overflow-scrolling: touch;

   &::-webkit-scrollbar {
     display: none;
   }

   -ms-overflow-style: none;
   scrollbar-width: none;
   max-width: 108rem;
   margin: 0 auto;

   //  @include md {
   //    flex-wrap: nowrap;
   //  }

   //  @media screen and (max-width: 500px) {
   //   flex-wrap: wrap;     
   //   white-space: normal;
   //  }
 }

 .c-breadcrumb__item {
   display: inline-flex;
   align-items: center;
   gap: 2rem;
   flex-shrink: 0;
 }

 .c-breadcrumb__item+.c-breadcrumb__item::before {
   content: ">";
   display: inline-block;
   margin: 0;
   color: $text-color;
 }

 .c-breadcrumb a {
   color: $text-color;
   text-decoration: none;
   transition: opacity 0.3s ease;

   @include sp {
     font-size: 1.6rem;
     // margin: 2rem 0 3rem;
   }
 }

 .c-breadcrumb a:hover {
   opacity: 0.7;
 }

 /* ===============================================
# SP 共通：詳細ページのパンくずだけ折り返しレイアウト
=============================================== */
 // bodyなどに .is-detail-page がついている場合のみ適用
 //  .is-detail-page .c-breadcrumb__list {
 //    flex-wrap: wrap;
 //    row-gap: 0.2rem;
 //    column-gap: 3rem;

 //    @include sp {
 //      row-gap: 0;
 //    }
 //  }


 .is-detail-page .c-breadcrumb__item.is-detail-page-item {
   display: flex !important;
   gap: 0 !important;
 }