@use "../../global/variable" as *;
@use "../../global/function" as *;
@use "../../global/mixin" as *;


/* ===============================================
# ヒーロー共通コンポーネント
=============================================== */

.c-hero {
  position: relative;
  overflow: hidden;
  height: 20rem;
  // width: 108rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(80, 80, 80, 0.4863);
    mix-blend-mode: multiply;
    z-index: 1;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
  }
}

.c-hero--with-border {
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); 
}


.c-hero__text {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2.5rem;
  color: $font-color;
  z-index: 2;

  @include sp {
    font-size: 2.5rem;
    top: 40%;
  }
}

// --- ページメッセージコンポーネント（再利用） ---
.c-page-message {
  // margin-block: 6.8rem 5rem;
 text-align: center;
  margin-top: 6.8rem;
  font-size: 1.8rem;

 @include sp {
   font-size: 1.6rem;
   text-align: left;
  margin-top: 4.7rem;
}
}