@use "../../global/variable" as *;
@use "../../global/function" as *;
@use "../../global/mixin" as *;


/* ===============================================
# ヒーロー共通コンポーネント
=============================================== */

.c-hero {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(80, 80, 80, 0.4863);
    mix-blend-mode: multiply;
    z-index: 1;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.c-hero__text {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2.5rem;
  color: $font-color;
  z-index: 2;

  @include sp {
    font-size: 2.5rem;
    top: 40%;
  }
}

