@use "../../global/variable" as *;
@use "../../global/function" as *;
@use "../../global/mixin" as *;



/* ===============================================
TOPへ戻るボタン
=============================================== */
.page-top-btn {
	// position: fixed;
	right: 11.7rem;
	bottom: 9.1rem;
	z-index: 9999;
	// opacity: 0;
	// visibility: hidden;
	// background-color: $main-color;
	transition: 0.5s;
	width: 6.8rem;
	height: 6.8rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1 !important;
	visibility: visible !important;
	// clip-path: circle(50% at 50% 50%);
	// overflow: hidden;
	// -webkit-clip-path: circle(50% at 50% 50%);
	// transition: transform 0.3s, opacity 0.3s;

	@include sp {
		// right: 2rem;
		// bottom: 6rem;
		// width: 5rem;
		// height: 5rem;
	}

	img {
		position: static;
		transform: none;
	}
}