@use "../../global/variable" as *;
@use "../../global/function" as *;
@use "../../global/mixin" as *;



// --- ページメッセージコンポーネント（再利用） ---
.c-page-message {
  // margin-block: 6.8rem 5rem;
 text-align: center;
  font-size: 1.8rem;
  white-space: normal;

 @include sp {
   font-size: 1.6rem;
   text-align: left;
  margin-top: 0rem;
}
}