@use "../../global/variable" as *;
@use "../../global/function" as *;
@use "../../global/mixin" as *;


c-page-title {}

.c-page-title--result {}



.c-result-card {
  // display: flex;
  display: block;

}

.c-result-card__link {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;

  @include sp {
    display: block;
  }
}


.c-result-card__img {
  position: relative;
  // width: 100%;
  // height: auto;

  @include sp {
    display: block;

  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  
  }
}


.c-result-card__body {
  display: flex;
  flex-direction: column;
  // row-gap: 0.8rem;

}


.c-result-card__text {
  font-size: 2rem;
  line-height: 1.25;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 1rem;

}

.c-result-card__date {
  font-size: 1.8rem;
  line-height: 1.777;
  text-align: right;
  // margin-top: 1rem;
}